[user]
	name = Soumik Rakshit
	email = soumikrakshit@yandex.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[core]
	editor = /usr/bin/env nano
	autocrlf = input

[gc]
	auto=1

[merge]
	summary=true
[alias]
	cp = cherry-pick -x
	co = checkout
	br = branch
	cm = commit
	st = status
	sm = submodule


[alias]
	b = branch -v
	r = remote -v
	t = tag -l
	unstage = reset HEAD
	uncommit = reset --soft HEAD^


[http]
	postBuffer = 1048576000
