[user]
    name = Soumik Rakshit
    email = s.rakshit@ext.efg.gg
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[core]
    editor = /usr/bin/env vim
    autocrlf = input
    excludesfile = ~/.gitignore
[gc]
    auto=1
[merge]
    summary=true
[alias]
    cp = cherry-pick -x
    co = checkout
    br = branch
    cm = commit
    st = status
    sm = submodule
    cam = commit --amend
    camno = commit --amend --no-edit
[alias]
    b = branch -v
    r = remote -v
    t = tag -l
    unstage = reset HEAD
    uncommit = reset --soft HEAD^
[http]
    postBuffer = 1048576000
[cola]
    spellcheck = false
[url "ssh://git@gitlab-efg/eslfaceitgroup/"]
    insteadOf = git@gitlab.com:eslfaceitgroup/
    insteadOf = ssh://git@gitlab.com/eslfaceitgroup/
    insteadOf = https://gitlab.com/eslfaceitgroup/
