
[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = false
allow_bold = true
dynamic_title = true
urgent_on_bell = true
clickable_url = true
font = Pointfree 10
scrollback_lines = 10000
search_wrap = true
#icon_name = terminal
geometry = 720x480

# "system", "on" or "off"
cursor_blink = off

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default if set, with xdg-open as a fallback
browser = firefox

# set size hints for the window
#size_hints = false

# emit escape sequences for other keys modified by Control
#modify_other_keys = false

[colors]

foreground = #FFFFFF
background = #2D2D2D
color0 = #1A1A1A
color8 = #686868
color1 = #FE8181
color9 = #FB9F9F
color2 = #35BF5C
color10 = #6BD689
color3 = #FFF373
color11 = #FEF3B2
color4 = #63ACE5
color12 = #ADCBE3
color5 = #AC7BDE
color13 = #E5B0FF
color6 = #5DCCC1
color14 = #96EAD7
