
[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = false
allow_bold = true
dynamic_title = true
urgent_on_bell = true
clickable_url = true
font = Pointfree 10
scrollback_lines = 10000
search_wrap = true
#icon_name = terminal
geometry = 720x480

# "system", "on" or "off"
cursor_blink = off

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default if set, with xdg-open as a fallback
browser = firefox

# set size hints for the window
#size_hints = false

# emit escape sequences for other keys modified by Control
#modify_other_keys = false

[colors]

background = #111111
foreground = #D3D3D3
color0 = #21211F
color8 = #1F1F21
color1 = #524139
color9 = #47362e
color2 = #2C382A
color10 = #232E22
color3 = #EC9718
color11 = #C78016
color4 = #394A52
color12 = #2e3f47
color5 = #80744F
color13 = #6E664C
color6 = #5A9096
color14 = #4F7B80
color7 = #DBD3C8
color15 = #C8D0DB
