URxvt*geometry:					90x30
URxvt*loginShell:				true
URxvt*scrollBar:				false
URxvt*scrollWithBuffer:				true
!URxvt*fading:					30
URxvt*urgentOnBell:				true
!URxvt*cursorUnderline:				true

*internalBorder:				10

URxvt*perl-ext-common:				default,matcher
URxvt*matcher.button:				1
URxvt*url-launcher:				/usr/bin/firefox

URxvt.font:					xft:MonacoB:size=10
URxvt.boldFont:					xft:MonacoB:bold:size=10

URxvt*depth: 32

!-----------------------------------------                                                                                     
! XFT                                                                                                                          
!-----------------------------------------                                                                                     
Xft.dpi: 96                                                                                                                    
Xft.antialias: 1                                                                                                               
Xft.hinting: 1                                                                                                                 
Xft.hintstyle: hintfull                                                                                                        
Xft.rgba: rgb                                                                                                                  
                   




*background:  #080608
*foreground:  #E8EAEC

*color0:  #525252
*color1:  #BF606B
*color2:  #BBBB87
*color3:  #876F6A
*color4:  #606B6F
*color5:  #908C9C
*color6:  #88959A
*color7:  #E8E5DC
*color8:  #707070
*color9:  #8A7885
*color10: #BFAF72
*color11: #9F8985
*color12: #9FA6A8
*color13: #AAA7B4
*color14: #AABBC1
*color15: #F5F5EB

