URxvt*geometry:					90x30
URxvt*loginShell:				true
URxvt*scrollBar:				false
URxvt*scrollWithBuffer:				true
!URxvt*fading:					30
URxvt*urgentOnBell:				true
!URxvt*cursorUnderline:				true

*internalBorder:				10

URxvt*perl-ext-common:				default,matcher
URxvt*matcher.button:				1
URxvt*url-launcher:				/usr/bin/firefox

URxvt.font:					xft:Monaco For Powerline:size=8
URxvt.boldFont:					xft:Monaco For Powerline:bold:size=8

URxvt*depth: 32

!-----------------------------------------                                                                                     
! XFT                                                                                                                          
!-----------------------------------------                                                                                     
Xft.dpi: 96                                                                                                                    
Xft.antialias: 1                                                                                                               
Xft.hinting: 1                                                                                                                 
Xft.hintstyle: hintfull                                                                                                        
Xft.rgba: rgb                                                                                                                  
                   

*pointerColor: #aea190
*color2: #aea190
*color1: #aea190
*color9: #443727
*color13: #443727
*color10: #443727
*color8: #c8c8c8
*background: #eceeec
*color11: #443727
*color15: #181818
*highlightTextColor: #0d0d0d
*color7: #7f7f7f
*highlightColor: #c2bbad
*color3: #aea190
*foreground: #181818
*color0: #eaeaea
*underlineColor: #a99889
*color12: #443727
*color6: #aea190
*colorUL: #6a5b4d
*pointerColor2: #181818
*color14: #443727
*colorBD: #181818
*cursorColor: #181818
*color5: #aea190
*color4: #aea190
