URxvt*geometry:                 110x40
URxvt*loginShell:               true
URxvt*scrollBar:                false
URxvt*scrollWithBuffer:             true
!URxvt*fading:                  30
URxvt*urgentOnBell:             true
!URxvt*cursorUnderline:             true

URxvt*termName: rxvt-unicode

URxvt*perl-ext-common:              default,matcher
URxvt*matcher.button:               1
URxvt*url-launcher:             /usr/bin/firefox

URxvt.font:                     xft:Consolas:size=15
URxvt.boldFont:                 xft:Consolas:bold:size=15


! blaquebeard
! special
*.foreground:   #c2c2b0
*.background:   #222222
*.cursorColor:  #c2c2b0

! black
*.color0:       #222222
*.color8:       #222222

! red
*.color1:       #924650
*.color9:       #924650

! green
*.color2:       #666666
*.color10:      #666666

! yellow
*.color3:       #ba9864
*.color11:      #ba9864

! blue
*.color4:       #888888
*.color12:      #888888

! magenta
*.color5:       #4f8396
*.color13:      #4f8396

! cyan
*.color6:       #777777
*.color14:      #777777

! white
*.color7:       #c2c2b0
*.color15:      #c2c2b0
